#titulopagina {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #212121;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#encabezado {
    color: #212121;
    text-align: center;
}

/*BARRA NAVEGACION*/

nav ul {
    list-style: none;
    display: flex;
    width: 50%;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    width: 1000px;
}

nav li {
    flex: 1;
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: #d4ac0d;
    transition: all 0.2s ease-in-out;
}

.menu a {
    color: #1B2631;
    text-decoration: none;
    font-weight: bold;
}

nav li:hover {
    background-color: #ffeb3b;
    transform: scale(1.1);
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffeb3b;
}

.dropdown li {
    display: block;
    width: 100%;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px; /* ajustar el ancho aquí */
    padding: 0;
    margin: 0;
    background-color: #ffeb3b;
}

.menu li:nth-of-type(2):hover .dropdown {
    display: block;
}
/*BARRA NAVEGACION*/

body {
    font-family: "Calibri", Helvetica, sans-serif;
    font-size: 16px;
    background-color: #F9E79F;
   
}

#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right:20px;
  margin:50px;
  
}

.textoinicio {
  width: 80%;
  margin-right:23%;
  margin-left:55px;
}

#sidebar {
    width: 25%;
    position: fixed;
    top: 30%;
    right: 10px;
    text-align: center;
}

#sidebar .foto {
    border-radius: 10%;
    width: 220px;
        
}


.sidebartxt {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#ubicacionlocal {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: -50px;
    right: -50%;
    visibility: visible;
}



.ayuda {
    font-size: 12px;
    color: #7fb5b5;
    font-family: cursive;
}

.listasnoorde {
    list-style-type: disc;  
    margin-left: 10px;
}

.tituloarticulo {
    
    text-align: center;
    font-family: "Candara", Verdana, sans-serial; 
    font-size: 30px;
}

.subtituloarticulo {
    margin-left:50px;
    font-family: "Candara", Verdana, sans-serial; 
    font-size: 22px;
}

.articulos {
    display: block;
    list-style-type: disc;
    margin-bottom: 1 em;
    margin-left:30px;
    margin-right: 60px;
}


.fechapublicacion {
    margin-left:50%;
}

.foto {
    display: flex;
    margin: 0 auto;
}


#tablecontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f1c40f;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.form-group {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
}


label {
    font-weight: bold;
    margin-bottom: 5px; 
    
}

input[type="text"], input[type="email"], input[type="number"] {
    height: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#textareacontacto {
    resize: none;
    height: 120px;
    padding: 10px;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

input[type="submit"]:hover {
        background-color: #fff;
        color: #000;
    }


 .textocentro {
    text-align: center;
 }

#contacta {
    height: 50px;
    font-family: "Gill Sans Extrabold", Verdana, sans-serial;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}


footer {
      background-color: #CCD1D1;
      bottom: 0;
      width: 100%;
      color: black;
      text-align: center;
      font-size: 20px;
      font-family: "Courier", Verdana, sans-serial;  
      text-align: center;
}

#inicio {
    overflow: hidden;
}
/*BOTON MEDIOS*/
.icon-3d {
    color: white;
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 200;
    transition: 0.5s;
}

.container {
    position: relative;
    top: 150px;
    left:20px;
}

.hover-toggle, #main-menu {
    height: 75px;
    width: 75px;
    background: white;
    margin-bottom: 1px;
    cursor: pointer;
    background: #2F6EA1;
    border: 3px solid #884F47;
}

.border {
    position: absolute;
    transform-origin: center center;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border: 2px solid white;
    top: 4px;
    left: 4px;
}

#main-menu {
    display: block;
    position: absolute;
    transition: 1s;
    z-index: 100;
}

    label:hover {
        background: #3d89c6;
    }

.share {
    position: absolute;
    height: 9px;
    width: 9px;
    background: #2F6EA1;
    border-radius: 100%;
    border: 2px solid white;
    z-index: 100;
}

.toplayer {
    height: 9px;
    width: 9px;
    position: absolute;
    background: #2F6EA1;
    z-index: 100;
    border-radius: 100%;
}

.top {
    z-index: 500;
    right: 15px;
    top: 13px;
    animation: move 3s linear forwards infinite;
}

@keyframes move {
    25% {
        transform: translateX(-27px) translateY(-2px);
    }

    50% {
        transform: translateX(-27px) translateY(-2px);
    }

    75% {
        transform: translateX(0px) translateY(0px);
    }
}

.bottom {
    bottom: 17px;
    right: 15px;
    animation: move2 3s linear forwards infinite;
}

@keyframes move2 {
    25% {
        transform: translateX(-27px) translateY(0px);
    }

    50% {
        transform: translateX(-27px) translateY(0px);
        transform: translateX(-27px) translateY(-2px);
    }

    75% {
        transform: translateX(0px) translateY(0px);
    }
}

.mid {
    top: 28px;
    left: 15px;
    animation: switch 3s linear forwards infinite;
    z-index: 100;
}

    .mid:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 24px;
        background: white;
        transform: rotate(28deg);
        top: 12px;
        left: 8px;
        animation: switch2 3s linear forwards infinite;
        z-index: -10;
    }

    .mid:after {
        content: "";
        position: absolute;
        transform: rotate(-25deg);
        width: 0px;
        height: 2px;
        width: 24px;
        top: -4px;
        left: 8px;
        background: white;
        animation: switch3 3s linear forwards infinite;
        z-index: -10;
    }

@keyframes switch {
    25% {
        transform: translateX(34px);
    }

    50% {
        transform: translateX(34px);
    }

    75% {
        transform: translateX(0px);
    }
}

@keyframes switch2 {
    25% {
        transform: translateX(-28px) translateY(2px) rotate(150deg);
    }

    50% {
        transform: translateX(-28px) translateY(2px) rotate(150deg);
    }

    75% {
        transform: translateY(0px) translateX(0px) rotate(28deg);
    }
}

@keyframes switch3 {
    25% {
        transform: translateX(-28px) translateY(-3px) rotate(-150deg);
    }

    50% {
        transform: translateX(-28px) translateY(-3px) rotate(-150deg);
    }

    75% {
        transform: translateY(0px) translateX(0px) rotate(-25deg);
    }
}

.bottomTwo {
    bottom: 14px;
    left: 15px;
}

.icon-container {
    cursor: pointer;
    position: absolute;
    transition: 1s;
    opacity: 0;
    height: 75px;
    width: 75px;
    perspective: 1000px;
}

.hover-toggle {
    position: absolute;
    display: block;
    height: 75px;
    width: 75px;
}

#control {
    display: none;
    position: absolute;
    z-index: 100;
}

    #control:checked ~ label {
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
        transition: 1s;
        transition-delay: 0.2s;
        transform: translateY(-290%);
    }

    #control:checked ~ .icon-container:nth-child(3) {
        opacity: 1;
        transform: translateY(-149px);
        transition: 1s;
        transition-delay: 120ms;
    }

    #control:checked ~ .icon-container:nth-child(4) {
        opacity: 1;
        transform: translateY(-62px);
        transition: 1s;
        transition-delay: 160ms;
    }

    #control:checked ~ .icon-container:nth-child(5) {
        opacity: 1;
        transform: translateY(25px);
        transition: 1s;
        transition-delay: 200ms;
    }

    #control:checked ~ .icon-container:nth-child(6) {
        opacity: 1;
        transform: translateY(112px);
        transition: 1s;
        transition-delay: 240ms;
    }

    #control:checked ~ .icon-container:nth-child(7) {
        opacity: 1;
        transform: translateY(199px);
        transition: 1s;
        transition-delay: 280ms;
    }

.section {
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 200;
}

    .section:hover ~ .hover-toggle {
        transition: 0.5s;
        background: #3d89c6;
    }

.one {
    top: 0px;
    left: 0px;
}

    .one:hover ~ .hover-toggle {
        transform-origin: bottom right;
        transform: rotateX(11deg) rotateY(-11deg) translateZ(0px);
    }

.two {
    top: 0px;
    right: 0px;
}

    .two:hover ~ .hover-toggle {
        transform-origin: bottom left;
        transform: rotateX(11deg) rotateY(11deg) translateZ(0px);
    }

.three {
    bottom: 0px;
    left: 0px;
}

    .three:hover ~ .hover-toggle {
        transform-origin: top right;
        transform: rotateX(-11deg) rotateY(-11deg) translateZ(0px);
    }

.four {
    bottom: 0px;
    right: 0px;
}

    .four:hover ~ .hover-toggle {
        transform-origin: bottom left;
        transform: rotateX(-11deg) rotateY(11deg) translateZ(0px);
    }

.icon-container > #final {
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.icon-container:nth-child(7) > .icon-3d {
    left: 20px;
    top: 10px;
}

.icon-container:active > .icon-3d {
    transform: scale(0.8);
}